SimplyRandom/*
SimplyRandom/SimplyRandom.cs
SimpleGUI/.vs/WorldBox/v16/.suo
SimpleGUI/WorldBox.sln
*.dll
*.pdb
*.cache
*.txt
*.CopyComplete
Archeron/.vs/TestMod/v16/.suo
Archeron/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Archeron/Patches.cs
Archeron/Properties/AssemblyInfo.cs
Archeron/TestMod.sln
Archeron/TestMod1.cs
Archeron/TestMod1.csproj
BaseMod/.vs/TestMod/v16/.suo
BaseMod/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
BaseMod/Properties/AssemblyInfo.cs
BaseMod/TestMod.sln
BaseMod/TestMod1.cs
BaseMod/TestMod1.csproj
PowerBox/Class1.cs
PowerBox/GodPowerTab.cs
PowerBox/Helper.cs
PowerBox/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
PowerBox/PowerBox.csproj
PowerBox/Properties/AssemblyInfo.cs
PowerBox/WorldBoxMod.Assets.Actors.cs
PowerBox/WorldBoxMod.Assets.GodPowers.cs
PowerBox/WorldBoxMod.cs
PowerBox/WorldBoxMod.Powers.cs
PowerBox/WorldBoxMod.Windows.AddRemoveTraits.cs
PowerBox/WorldBoxMod.Windows.cs
PowerBox/WorldBoxMod.Windows.EditBanner.cs
PowerBox/WorldBoxMod.Windows.EditItems.cs
PowerBox/WorldBoxMod.Windows.EditResources.cs
PowerBox/WorldBoxMod.Windows.EditTraits.cs
PowerBox/WorldBoxMod.Windows.PowerBoxLaws.cs
PowerBox/Class1.cs
PowerBox/GodPowerTab.cs
PowerBox/Helper.cs
PowerBox/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
PowerBox/PowerBox.csproj
PowerBox/Properties/AssemblyInfo.cs
PowerBox/WorldBoxMod.Assets.Actors.cs
PowerBox/WorldBoxMod.Assets.GodPowers.cs
PowerBox/WorldBoxMod.cs
PowerBox/WorldBoxMod.Powers.cs
PowerBox/WorldBoxMod.Windows.AddRemoveTraits.cs
PowerBox/WorldBoxMod.Windows.cs
PowerBox/WorldBoxMod.Windows.EditBanner.cs
PowerBox/WorldBoxMod.Windows.EditItems.cs
PowerBox/WorldBoxMod.Windows.EditResources.cs
PowerBox/WorldBoxMod.Windows.EditTraits.cs
PowerBox/WorldBoxMod.Windows.PowerBoxLaws.cs
Simple20MinMod/SimplyRandom.csproj
Simple20MinMod/SimplyRandom.cs
Simple20MinMod/Properties/AssemblyInfo.cs
Simple20MinMod/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Simple20MinMod/20minSimplyRandom.sln
Simple20MinMod/.vs/20minSimplyRandom/v16/.suo
TestMod1/.vs/TestMod/v16/.suo
TestMod1/BallComponent.cs
TestMod1/BrickComponent.cs
TestMod1/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
TestMod1/PaddleComponent.cs
TestMod1/Properties/AssemblyInfo.cs
TestMod1/Resources/Circle.png
TestMod1/Resources/Square.png
TestMod1/TestMod.sln
TestMod1/TestMod1.cs
TestMod1/TestMod1.csproj
gmpv3/gmpv3.csproj
SimpleGUI/packages/*
WorldBox3D/obj/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
WorldBox3D/obj/Debug/.NETFramework,Version=v4.7.1.AssemblyAttributes.cs
WorldBox3D/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
*.csproj
*.config
*.csproj
SimpleLib/SimpleLib.csproj
SimpleGUI/.idea/.idea.SimpleGUI.dir/.idea/vcs.xml
SimpleGUI/.idea/.idea.SimpleGUI.dir/.idea/indexLayout.xml
SimpleGUI/.idea/.idea.SimpleGUI.dir/.idea/encodings.xml
